annotated-types==0.7.0
astroid==3.1.0
black==25.1.0
blinker==1.9.0
cfgv==3.4.0
click==8.1.8
colorama==0.4.6
dill==0.3.8
distlib==0.3.9
filelock==3.17.0
Flask==3.1.1
flask-cors==6.0.0
greenlet==3.1.1
identify==2.6.6
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
mock==5.1.0
mock-alchemy==0.2.6
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
pi==0.1.2
platformdirs==4.2.0
pluggy==1.5.0
pre_commit==4.1.0
pydantic==2.10.6
pydantic_core==2.27.2
pylint==3.1.0
pytest==8.3.4
pytest-mock==3.14.0
PyYAML==6.0.2
SQLAlchemy==2.0.37
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.12.2
virtualenv==20.29.1
Werkzeug==3.1.3
